body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Add this to your CSS file, e.g., App.css */
.user-info {
  display: flex;
  align-items: center;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Makes the image circular */
  margin-right: 10px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: bold;
}

.user-email {
  color: #777;
}

/* CustomNavbar.css */
.card-link {
  text-decoration: none; /* Remove the default underline */
}

.card-link:hover {
  text-decoration: none; /* Remove the underline on hover */
}